.fav-page
    .wheel
        .spin-bg
        .fireworks-wrap
            .firework
            .firework
            .firework
            .firework
            .firework
            .firework
            .firework
        .wheel__logo
            img(src="./img/wheel/wheel-logo.png" alt="favbet")
        .wheel__wrap._lock
            .wheel__border
            .wheel__sections
            .wheel__bulbs
            .wheel__arrow
            .wheel__point
            .wheel__leg
            .wheel__btn #[span.wheel__btn-text Крути]
            .wheel__days
                .wheel__days-title Челенжд від Сема <br> Крути 7 днів поспіль
                .wheel__days-container
                    .wheel__days-icons
                        .wheel__buble._hidden
                            .wheel__buble-title Виконуй челендж та автоматично отримуй додатковий бонус
                            .wheel__buble-prize
                                .wheel__buble-prize-item 202 fs
                                .wheel__buble-prize-item + 207 ₴ страховка ставки
                    .wheel__days-wrap
                        .wheel__days-item #[span.wheel__days-item-text #[span 1] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 2] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 3] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 4] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 5] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 6] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 7] <br> день]
    .progress
        .progress__top
            a(href="#").progress__top-left #[span грати в казино]
            .progress__bar
                .progress__bar-thumb
                    .progress__bar-wrap
                        .progress__bar-line
                            .progress__bar-status 1000 ₴
                    .progress__bar-sum 1000 / 2000 ₴
            a(href="#").progress__top-right #[span ставки на спорт]
        .progress__bottom
            .progress__bottom-wrap
                .progress__bottom-title 1 день - 1 спроба
                .progress__bottom-text Зроби оборот виграшних ставок на 2 000 ₴ та отримай оберт у «Колесі Сема»

    .accordion
        .accordion-item
            .accordion-header Коли та як можна крутити колесо ?
            .accordion-content
                p 1. Як взяти участь?
                p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                p 2. Набір балів
                p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                p 3.Вгадай точний рахунок топ-матчів етапу.
                p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                p За 1 вгаданий рахунок - бали помножуються на х2.
                p За 2 вгаданих рахунки - бали помножуються на х3.
                p За 3 вгаданих ранунки- бали помножуються на х5.
                p 4. Отримуй бали та можливість виграти призи.
                p Чим більше балів, тим більше шансів здобути приз.
                p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion-item
            .accordion-header Як рахуються  бали в прогрес-бар ?
            .accordion-content
                p 1. Як взяти участь?
                p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                p 2. Набір балів
                p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                p 3.Вгадай точний рахунок топ-матчів етапу.
                p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                p За 1 вгаданий рахунок - бали помножуються на х2.
                p За 2 вгаданих рахунки - бали помножуються на х3.
                p За 3 вгаданих ранунки- бали помножуються на х5.
                p 4. Отримуй бали та можливість виграти призи.
                p Чим більше балів, тим більше шансів здобути приз.
                p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion-item
            .accordion-header Які бонуси та фізичні призи я можу отримати ?
            .accordion-content
                p 1. Як взяти участь?
                p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                p 2. Набір балів
                p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                p 3.Вгадай точний рахунок топ-матчів етапу.
                p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                p За 1 вгаданий рахунок - бали помножуються на х2.
                p За 2 вгаданих рахунки - бали помножуються на х3.
                p За 3 вгаданих ранунки- бали помножуються на х5.
                p 4. Отримуй бали та можливість виграти призи.
                p Чим більше балів, тим більше шансів здобути приз.
                p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion-item
            .accordion-header Що таке «Челендж від Сема» ?
            .accordion-content
                p 1. Як взяти участь?
                p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                p 2. Набір балів
                p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                p 3.Вгадай точний рахунок топ-матчів етапу.
                p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                p За 1 вгаданий рахунок - бали помножуються на х2.
                p За 2 вгаданих рахунки - бали помножуються на х3.
                p За 3 вгаданих ранунки- бали помножуються на х5.
                p 4. Отримуй бали та можливість виграти призи.
                p Чим більше балів, тим більше шансів здобути приз.
                p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion-item._rules
            .accordion-header Офіційні правила акції
            .accordion-content
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
    //.popups
    //    .popup._iphone
    //        .popup__buble
    //            .popup__buble-title Оце так везіння!
    //            .popup__buble-text Ти виграв топовий приз у «Колесі Сема»
    //        .popup__pers
    //            picture
    //                source(srcset="./img/popups/iphone/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
    //                img(src="./img/popups/iphone/pers.png" alt="sam favbet")
    //        .popup__main
    //            .popup__title Iphone 15 pro
    //            .popup__prize
    //    .popup._ecoflow
    //    .popup._merch
    //    .popup._nothing
    //    .popup._bonuses

