.fav-page
    .wheel
        .wheel__logo
            img(src="./img/wheel/wheel-logo.png" alt="favbet")
        .wheel__wrap
            .wheel__border
            .wheel__sections
            .wheel__bulbs
            .wheel__arrow
            .wheel__point
            .wheel__leg
            .wheel__btn #[span.wheel__btn-text Крути]
            .wheel__days
                .wheel__days-title Челенжд від Сема <br> Крути 7 днів поспіль
                .wheel__days-container
                    .wheel__days-icons
                    .wheel__days-wrap
                        .wheel__days-item
                        .wheel__days-item
                        .wheel__days-item
                        .wheel__days-item
                        .wheel__days-item
                        .wheel__days-item
                        .wheel__days-item
    .progress
        .progress__top
            .progress__top-left грати в казино
            .progress__bar
                .progress__bar-thumb
                    .progress__bar-status 2 000 ₴
                    .progress__bar-line
            .progress__top-right ставки на спорт
        .progress__bottom
            .progress__bottom-title 1 день - 1 спроба
            .progress__bottom-text Зроби оборот виграшних ставок на 2 000 ₴ та отримай оберт у «Колесі Сема»

    .drop