.drop
    button.drop-menu popups
    .btns-wrap._hidden
        button.drop-iphone iphone
        button.drop-ecoflow ecoflow
        button.drop-nothing nothing
        button.drop-merch merch
        button.drop-bonus bonus
        button.drop-done done-popup
        button.drop-lock lock
        //button.drop-incomplete incomplete-popup
.fav-page
    .wheel
        .spin-bg
        .fireworks-wrap
            .firework
            .firework
            .firework
            .firework
            .firework
            .firework
            .firework
        .wheel__logo
            picture
                source(srcset="./img/wheel/mob/wheel-logo.png" media="(max-width: 1050px)")
                img(src="./img/wheel/wheel-logo.png" alt="favbet")
        .wheel__wrap
            .wheel__lock-buble
                .wheel__lock-title Сьогодні ти вже зробив прокрут.
                .wheel__lock-text Повертайся завтра
            .wheel__border
            .wheel__sections
            .wheel__bulbs
            .wheel__arrow
            .wheel__point
            .wheel__leg
            .wheel__btn #[span.wheel__btn-text Крути]
            .wheel__days
                .wheel__days-title Челенжд від Сема <br> Крути 7 днів поспіль
                .wheel__days-container
                    .wheel__days-icons
                        .wheel__days-icons-decor
                        .wheel__buble._hidden
                            .wheel__buble-title Виконуй челендж та автоматично отримуй додатковий бонус
                            .wheel__buble-prize
                                .wheel__buble-prize-item 202 fs
                                .wheel__buble-prize-item + 207 ₴ страховка ставки
                    .wheel__days-wrap
                        .wheel__days-item #[span.wheel__days-item-text #[span 1] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 2] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 3] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 4] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 5] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 6] <br> день]
                        .wheel__days-item #[span.wheel__days-item-text #[span 7] <br> день]
    .progress
        .progress__top
            a(href="#").progress__top-left #[span грати <br> в казино]
            .progress__bar
                .progress__bar-thumb
                    .progress__bar-wrap
                        .progress__bar-line
                            .progress__bar-status 1000 ₴
                    .progress__bar-sum #[span.current 1000] / #[span.total 2000 ₴]
            a(href="#").progress__top-right #[span ставити <br> на спорт]
        .progress__bottom
            .progress__bottom-wrap
                .progress__bottom-title 1 день - 1 спроба
                .progress__bottom-text Зроби оборот виграшних ставок на 2 000 ₴ та отримай оберт у «Колесі Сема»

    .days
        .days__title Челендж від Сема крути 7 днів поспіль
        .days__wrap
            .days__container
                .days__item #[span.days__item-text #[span 1] <br> день]
                .days__item #[span.days__item-text #[span 2] <br> день]
                .days__item #[span.days__item-text #[span 3] <br> день]
                .days__item #[span.days__item-text #[span 4] <br> день]
                .days__item #[span.days__item-text #[span 5] <br> день]
                .days__item #[span.days__item-text #[span 6] <br> день]
                .days__item #[span.days__item-text #[span 7] <br> день]
            .days__text Виконуй челендж та автоматично отримуй додатковий бонус
            .days__prize
                .days__prize-item 202 FS
                .days__prize-item + 207 ₴ страховка ставки
    .accordion
        .accordion__item
            .accordion__header #[span.accordion__header-text Коли та як можна крутити колесо ?]
            .accordion__content
                .accordion__content-wrap
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion__item
            .accordion__header #[span.accordion__header-text Як рахуються  бали в прогрес-бар ?]
            .accordion__content
                .accordion__content-wrap
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion__item
            .accordion__header #[span.accordion__header-text Які бонуси та фізичні призи я можу отримати ?]
            .accordion__content
                .accordion__content-wrap
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion__item
            .accordion__header #[span.accordion__header-text Що таке «Челендж від Сема» ?]
            .accordion__content
                .accordion__content-wrap
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .accordion__item._rules
            .accordion__header #[span.accordion__header-text Офіційні правила акції]
            .accordion__content
                .accordion__content-wrap
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю. 
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу.
                    p Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці. 
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5.
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
    .popups
        //.fav-header-bar
        .popup
            .popup__buble._iphone
                .popup__buble-title Оце так везіння!
                .popup__buble-text Ти виграв топовий приз у «Колесі Сема»
            .popup__buble._ecoflow
                .popup__buble-title Оце топчик!!!
                .popup__buble-text Енергонезалежність — твоє друге імʼя
            .popup__buble._bonus
                .popup__buble-text Фортуна на твоєму боці! Лови крутий бонус
            .popup__buble._merch
                .popup__buble-title Пссссс
                .popup__buble-text як на рахунок спеціального подарунку від мене?
            .popup__buble._nothing
                .popup__buble-title Сьогодні без призів
                .popup__buble-text Ну що поробиш, фортуна повернулась іншим боком.
            .popup__pers
                picture._iphone
                    source(srcset="./img/popups/iphone/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                    img(src="./img/popups/iphone/pers.png" alt="sam favbet")
                picture._ecoflow
                    source(srcset="./img/popups/ecoflow/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                    img(src="./img/popups/ecoflow/pers.png" alt="sam favbet")
                picture._bonus
                    source(srcset="./img/popups/bonus/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                    img(src="./img/popups/bonus/pers.png" alt="sam favbet")
                picture._merch
                    source(srcset="./img/popups/merch/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                    img(src="./img/popups/merch/pers.png" alt="sam favbet")
                picture._nothing
                    source(srcset="./img/popups/nothing/pers-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                    img(src="./img/popups/nothing/pers.png" alt="sam favbet")
            .popup__main
                .popup__item._iphone
                    .popup__title Iphone 15 Pro
                    .popup__prize
                        picture
                            source(srcset="./img/popups/iphone/prize-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                            img(src="./img/popups/iphone/prize-desc.png" alt="sam favbet")
                    .popup__decor-left
                    .popup__decor-right
                .popup__item._ecoflow
                    .popup__title EcoFlow RIVER 2
                    .popup__prize
                        picture
                            source(srcset="./img/popups/ecoflow/prize-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                            img(src="./img/popups/ecoflow/prize-desc.png" alt="sam favbet")
                    .popup__decor-left
                    .popup__decor-right
                .popup__item._bonus
                    .popup__title 103 грн <br> Страховка ставки
                    .popup__prize-bottom._bonus Заходь в #[a(href="#") особистий кабінет] та активуй свій бонус протягом 3 днів.
                    a(href="#").popup__btn ЗАБРАТИ БОНУС
                .popup__item._merch
                    .popup__title Мерч Favbet City
                    .popup__prize
                        picture
                            source(srcset="./img/popups/merch/prize-mob.png" media="(max-width: 600px) and (orientation: portrait)")
                            img(src="./img/popups/merch/prize-desc.png" alt="sam favbet")
                    .popup__decor-left
                    .popup__decor-right
                .popup__prize-bottom Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                .popup__bottom._incomplete
                    .popup__text Також не забудь про челендж
                    .popup__prize-text Крути «Колесі Сема» 7 днів поспіль <br> та автоматично отримуй додатковий бонус
                    .popup__days
                        .popup__days-item #[span.popup__days-item-text #[span 1] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 2] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 3] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 4] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 5] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 6] <br> день]
                        .popup__days-item #[span.popup__days-item-text #[span 7] <br> день]
                    .popup__btn-wrap
                        a(href="#").popup__btn-left #[span грати <br> в казино]
                        a(href="#").popup__btn-right #[span ставити <br> на спорт]
                .popup__bottom._done
                    .popup__text Мій челендж пройдено! Лови бонус:
                    .popup__prize-title
                        .popup__prize-title-item 202 fs
                        .popup__prize-title-item + 207 ₴ страховка ставки
                    .popup__prize-text Активуй бонус протягом 3 днів в Особистому кабінеті
                    a(href="#").popup__btn ЗАБРАТИ БОНУС
                .popup__close
        //.fav-bottom-bar
